#title {
    text-align: center;
    color: black;
   
    
}

.linklas,.linkpest,.linkpiz {
    color: black;
    display: block;
    text-align: center;
    
    margin: 50px;
    
}

.home {
    margin: 0 auto;
    display: inline;
    
    


}

.recipeimg { 

    
}

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: beige;
}